aiocron==1.8
aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==22.2.0
Babel==2.9.1
certifi==2022.12.7
charset-normalizer==3.1.0
croniter==1.3.14
frozenlist==1.3.3
idna==3.4
magic-filter==1.0.9
multidict==6.0.4
pg8000==1.29.4
psycopg2==2.9.6
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
rcon==2.3.9
scramp==1.4.4
six==1.16.0
SQLAlchemy==2.0.7
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
yarl==1.8.2
